:root {
  --principal: #004573;
  --seconde: #FFB703;
  --troisieme: #FFF;
  --optionel: #ebf0f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  text-decoration: none;
  list-style: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--principal);
  color: var(--troisieme);
  overflow-y: auto;
  z-index: 1000;
  transition: transform 3s ease;
  -webkit-transition: transform 3s ease;
  -moz-transition: transform 3s ease;
  -ms-transition: transform 3s ease;
  -o-transition: transform 3s ease;
}
.sidebar-closed {
  transform: translateX(-100%); /* Déplace le sidebar complètement hors de l'écran */
}

#image-contenu {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-top: 25px;
}

.activeclassbar {
  background-color: var(--seconde) !important;
  color: var(--principal) !important;
}

.linktext {
  color: var(--troisieme);
}

.contentlink {
  color: var(--troisieme);
}

.linkcontent_sidebar {
  text-decoration: none;
  color: black !important;
  background: transparent !important;
  border: none !important;
}

.logout {
  margin-top: 20px;
  background-color: var(--troisieme) !important;
  border: var(--troisieme) !important;
  color: var(--principal);
  padding: 5px 0;
  border-radius: 50px;
  width: 60px !important;
  height: 60px !important;
}

#logout {
  border-radius: 50% !important;
}

.logouticon {
  font-size: 30px;
  color: var(--principal);
}

.main-content {
  margin-left: 250px; /* same width as the sidebar */
  padding: 20px;
  overflow-y: auto;
}
