:root{
    --principal:#004573;
    --seconde:#FFB703;
    --troisieme:#FFF;
    --optionel:#ebf0f4;
    
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* ************************** footer  debut  ***************************** */
.footer_content_main{
    padding-top: 50px;
    background-color: var(--principal);
}
.footer_content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center ;
    margin: 0 auto !important;
    line-height: 50px;
    align-items: center;
   
    
}
.logo_footer_content_one{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_footer_content_one img{
    border: 3px solid var(--troisieme);
    border-radius: 50%;

}
.footer_bottom_home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons_footer_home{
    display: flex;
    gap: 10px;
}
.footer_content p{
    color: var(--troisieme);
}
.footer_content h4{
    color: var(--troisieme);
}

.footer_ref_home hr{
    color: var(--troisieme);
    margin-left:100px ;
    margin-right: 100px;
    margin-bottom: 40px;
}

#btn_abonner_footer{
    position: relative;
    left: -108px;
    background-color: var(--principal);
    border: none !important;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#input_searchcontent_footer{
    width: 300px;
    border-radius: 50px;
    height: 50px;
    
    
  }
  .copyright_footer_home p{
    color: var(--troisieme);
  }
  .icons_footer_home_icon_social{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--troisieme);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon_footer_topbar{
    color: var(--seconde);
    font-size: 15px;
    
  }
  .logo_footer_content_one{
    margin-left: 20px !important;
   
  }
  
.footer_bottom_home{
    margin-left: 122px;
}

  
/* ************************** footer  fin  ***************************** */
@media screen  and (max-width: 1333px){
    .footer_content{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 0 !important;
        line-height: 50px;
        
    }
 
    
}
@media screen  and (max-width: 1122px){
    .footer_content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0 !important;
        line-height: 50px;
        row-gap: 30px;
        
    }
    .footer_bottom_home{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto !important;
        
    }
    .last-content-footer{
        display: flex;
        justify-content: center !important;
        text-align: center;
    }
    #last-content-footer-one-change{
        margin-left: 260px;
    }
   
   

    
    
    
}
@media screen  and (max-width: 991px){
    .footer_content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center ;
        margin: 0 !important;
        line-height: 50px;
        align-items: center; 
        
         
    }
    .text-content-footer-all,
    #text-content-footer-all
    {
        text-align: center !important;
        align-content: center !important;
    }
    #text-content-footer-all{
       display: flex;
       flex-direction: column;
       justify-content: center;
       

    }
    .text-content-footer-all{
        margin-top: 20px;
    }
    #input_searchcontent_footer{
        display: flex;
        justify-content: center;

    }
    #last-content-footer-one-change{
        margin-left: 0px !important;
    }
    #last-content-footer-one-change{
        margin-left: 0px;
    }
    .footer_bottom_home{
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap: 20px;
        
    }
    #btn_abonner_footer{
        position: relative;
        left: -108px;
        background-color: var(--principal);
        border: none !important;
        border-radius: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #input_searchcontent_footer{
        margin-left: 80px;
    }
    

    
    
    
}
@media screen and (max-width: 502px) {
    #input_searchcontent_footer {
        width: 200px; 
    }
    
    #btn_abonner_footer {
        left: -1px; 
    }

    .section_search-content-main {
        flex-direction: column;
        align-items: center;
    }

    #input_searchcontent_footer,
    #btn_abonner_footer {
        width: 100%; 
        margin: 5px 0; 
    }
}

