:root{
    --principal:#004573;
    --seconde:#FFB703;
    --troisieme:#FFF;
    --optionel:#ebf0f4;
    
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ************************** footer  debut  ***************************** */
.footer_content_main{
    padding-top: 50px;
    background-color: var(--principal);
}
.footer_content{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center ;
    margin: 0 auto !important;
    line-height: 50px;
    align-items: center;
   
    
}
.logo_footer_content_one{
    display: flex;
    justify-content: center;
    align-items: center;
   
    /* background-color: var(--troisieme); */
   
    /* width: 120px;
    height:120px; */
}
.logo_footer_content_one img{
    border: 3px solid var(--troisieme);
    border-radius: 50%;

}
.footer_bottom_home{
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icons_footer_home{
    display: flex;
    gap: 10px;
}
.footer_content p{
    color: var(--troisieme);
}
.footer_content h4{
    color: var(--troisieme);
}

.footer_ref_home hr{
    color: var(--troisieme);
    margin-left:100px ;
    margin-right: 100px;
    margin-bottom: 40px;
}

#btn_abonner_footer{
    position: relative;
    left: -108px;
    background-color: var(--principal);
    border: none !important;
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#input_searchcontent_footer{
    width: 300px;
    border-radius: 50px;
    height: 50px;
    
    
  }
  .copyright_footer_home p{
    color: var(--troisieme);
  }
  .icons_footer_home_icon_social{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--troisieme);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon_footer_topbar{
    color: var(--seconde);
    font-size: 15px;
    
  }
  .logo_footer_content_one{
    margin-left: 20px !important;
   
  }
  
.footer_bottom_home{
    margin-left: 122px;
}

  
/* ************************** footer  fin  ***************************** */