:root{
    --principal:#004573;
    --seconde:#FFB703;
    --troisieme:#FFF;
    
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon-diamond-home{
    color: var(--seconde);
  }
  .contentlinehome{
    display: flex;
    justify-content: center !important;
    width: 130px;
    gap: 5px;
    /* border: 1px solid red; */
  }
  #underline-content1{
    width: 30%;

  }
  #underline-content2{
    width: 70%;

  }
  .underline-content{
    height: 5px;
    width: 100%;
    border-top: 3px solid var(--seconde) !important;
  }
  #underline-content1, #underline-content2 {
    animation: underlineAnimation 2s linear infinite;
  }
  
  @keyframes underlineAnimation {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(0); /* Mettez à zéro pour réduire la largeur à zéro */
    }
    100% {
      transform: scaleX(1);
    }
  }
  