:root{
  --principal:#004573;
  --seconde:#FFB703;
  --troisieme:#FFF;
  --optionel:#ebf0f4;
  
}  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.checkout-steps > div {
    border-bottom: 4px solid #a0a0a0;
    color: #a0a0a0;
    padding: 10px;
    text-align: center;
    flex: 1;
  }
  
  .checkout-steps > div.activeone,
  .checkout-steps > div.completed {
    border-bottom: 0.3rem solid var(--seconde);
    color: var(--seconde);
    width: 100% !important;
  }
  