:root{
    --principal:#004573;
    --seconde:#FFB703;
    --troisieme:#FFF;
    
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
  .card1-admin {
    height: 130px;
  
    padding: 0;
    width: 270px;
    background-color: var(--troisieme);
    color: var(--principal);
    border-left: 5px solid var(--principal);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      margin: 25px auto;
  }
  .card1-admin h1 {
    font-size: 40px !important;
  }
  .card1-admin h4 {
    font-size: 16px !important;
  }
  #icon-content-admin {
    font-size: 20px;
  }
  @media screen and (max-width:1386px) {
    .card1-admin-content-main-superadmin{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
  }
  
  @media screen and (max-width:671px){
    .card1-admin-content-main-superadmin{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }

  }