:root{
    --principal:#004573;
    --seconde:#FFB703;
    --troisieme:#FFF;
    
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* **************************** navbar style debut*********************************** */
.logo_conntent_navbar{
    width: 40px;
    height: 40px;
}
.navbar_body-main{
    /* background-color: var(--principal); */
    width: 100% !important;
     /* border: 10px solid green; */
    
    
   
}
.navbar_glabal_content{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100% !important;
    /* border: 10px solid red; */
    margin: 0 !important;
    padding: 0 !important;

}
#link_navbar_menu{
    color: var(--principal) !important;
    font-weight: 500px;
    text-decoration: none;
    
}
#link_navbar_menu:hover{
    color: var(--seconde) !important;
   
}


/* **************************** navbar style Fin*********************************** */
/***************************** média queries ****************************************/

@media  screen and (max-width:991px) {
    #navbarcontent{
        margin-left: 0 !important;
    }
    .btn2_ban_home_content2{
        
    }
    .button-nabar-contentmain-one{
        margin-right: 0 !important;
        display: flex;
        justify-content: center;
    }
   
    
    
    
    }