:root{
    --principal:#004573;
    --seconde:#FFB703;
    --troisieme:#FFF;
    
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* **************************style banniere debut ***************************** */

.ban_image_content_home{
    height: 580px;
    
}

  #ban_content_home-text {
    position: absolute;
    top: 160px;
    margin-left: 70px;
   
  }
  .titre_content_home{
    color: var(--troisieme);
    font-weight: bold;
    font-size: 50px;
  }
  .paragraph_content_home{
    color: var(--troisieme);
  }
  .btn_ban_home{
    width: 250px;
    
  }
  #btn1_ban_home{
    background-color: var(--seconde);
    border: none;

  }
  #btn2_ban_home{
    background-color: var(--principal);
    border: 2px solid var(--seconde);
  }
  #btn1_ban_home:hover{
    background-color: var(--principal) !important;
    border: 2px solid var(--seconde) !important;
    color: var(--troisieme);
}
#btn2_ban_home:hover{
    background-color: var(--seconde);
    border: none;

  }

/* **************************style banniere fin ***************************** */


/* **************************style chiffre clés debut ***************************** */
.content_main_chiffre1{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid var(--principal);
    background-color: var(--troisieme);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_main_icon_home{
    font-size: 56px;
    color: var(--principal);
}
.content_blue_home{
    color: var(--principal);
}

.content_orange_home{
    color: var(--seconde);
}
/* **************************style chiffres clés fin ***************************** */


/* **************************style qui somme nous debut ***************************** */

.content_section2_home{
    background-color: var(--principal);
    padding-top: 30px ;
    padding-bottom: 40px;
}
.reference1_home{
    border: 3px solid var(--seconde);
    height: 200px;
    border-radius: 20px;
}
.reference2_home{
    border: 3px solid #1c91b1;
    height: 200px;
    border-radius: 20px;
}
.underline_content_home{
    color: var(--troisieme);
}
#btn_about_home_middle:hover{
    background-color: var(--principal) !important;
    border: 2px solid var(--seconde) !important;
    color: var(--troisieme);
}
/* **************************style qui sommes nous fin ***************************** */


/* **************************comment ça marche debut ***************************** */
#btn_about_homes2{
    background-color: var(--principal);
    border: none;
    padding: 10px 6rem;
}
#btn_about_homes2:hover{
    background-color: var(--troisieme);
    border: 2px solid var(--principal);
    color: var(--principal);
}
/* **************************comment sa marche fin ***************************** */


/* **************************nos engagements debut ***************************** */
.conteneur_losange_home {
    display: flex;
    /* justify-content: center; */
    justify-content: space-evenly;
    /* align-items: center; */
    height: 50vh;
}

.losange {
    width: 140px;
    height: 140px;
    background-color: var(--principal);
    border: 3px solid var(--seconde);
    transform: rotate(45deg);
    margin: 0 30px;
    display: flex;
    justify-content:center ;
    align-items: center;

}
#losange{
    background-color: var(--seconde);
    border: 3px solid var(--troisieme);
}
#icon_font_home_engament{
    transform: rotate(-45deg);
    font-size: 60px;
    
}
.icon_onetwo_home{
    color: var(--troisieme);
}
.icon_onetwo_home1{
    color: var(--principal);
}

/* **************************nos engagements  fin ***************************** */
