@media screen  and (max-width:1120px){
    .content-input-global-projet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        width: auto !important;
        height: auto !important;
    }
    .content-input-global-projet2, #content-input-global-projet2{
        width: 100%;
        display: flex;
        justify-content: center !important;
        align-items: center;
        flex-grow:inherit;
        /* border:1ox solid red */
        
    }
    #content-input-global-projet4{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    #buttonAjouter{
        margin-left: 0px !important;
        width: auto !important;

    }
    .input-group{
        width: auto !important;

    }
    #responsive-baye-responsive{
        width: 50% !important;
    }



  
  
    
}
@media (max-width: 567px) {
    .table th,
    .table td {
      font-size: 12px;
      padding: 0.5rem;
    }
    #btn-listes{
        gap: 20px !important;
    }
  }
  /* Rendre le tableau réactif */
.table-responsive {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  @media (max-width: 367px){
    #buttonArchiver{
        margin-left: 0px !important;
    }
    

  }