:root{
    --principal:#004573;
    --seconde:#FFB703;
    --troisieme:#FFF;
    --optionel:#ebf0f4;
    
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* outline: 1px solid red; */
}
.container_devis_form {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--troisieme);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.content_title_devis{
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group textarea {
    resize: none;
}

.content_title_devis_button_content {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--principal) !important;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.content_devis_main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0 auto !important;
}

@media screen and (min-width: 768px) {
    .content_devis_main {
        grid-template-columns: 1fr 1fr;
    }
}

.imageForm-content-devis{
    width: 100% !important;
    height: 100% !important;
}

@media screen and (max-width:1233px) {
    .content_devis_main {
        display: flex;
        flex-direction: column-reverse;
    }

    #imageForm-content-devis-one {
        border-bottom: none !important;
        height: auto !important;
        border-top-left-radius: 10px !important;
    }

    #imageForm-content-devis {
        border-top-left-radius: 10px !important;
    }

    .content_devis_main-form-one {
        border-top-left-radius:0 !important;
        border-top-right-radius:0 !important;
        border-bottom-right-radius: 10px !important;
    }
}

@media screen and (max-width:550px) {
    #imageForm-content-devis-one {
        height:auto !important;
    }
}

@media screen and (max-width:768px) {
    #imageForm-content-devis-one {
        height:auto !important;
    }

    #content-devis-main-one-contnt {
        height: auto !important;
    }
}