:root{
    --principal:#004573;
    --seconde:#FFB703;
    --troisieme:#FFF;
    --optionel:#ebf0f4;
    
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* **************************style banniere debut ***************************** */

.ban_image_content_home{
    height: 580px;
    
}

  #ban_content_home-text {
    position: absolute;
    top: 160px;
    margin-left: 70px;
   
  }
  .titre_content_home{
    color: var(--troisieme);
    font-weight: bold;
    font-size: 50px;
  }
  .paragraph_content_home{
    color: var(--troisieme);
  }
  .btn_ban_home{
    width: 250px;
    
  }
  #btn1_ban_home{
    background-color: var(--seconde);
    border: none;

  }
  #btn2_ban_home{
    background-color: var(--principal);
    border: 2px solid var(--seconde);
  }
  #btn1_ban_home:hover{
    background-color: var(--principal) !important;
    border: 2px solid var(--seconde) !important;
    color: var(--troisieme);
}
#btn2_ban_home:hover{
    background-color: var(--seconde);
    border: none;

  }

/* **************************style banniere fin ***************************** */


/* **************************style chiffre clés debut ***************************** */
.content_main_chiffre1{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid var(--principal);
    background-color: var(--troisieme);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_main_icon_home{
    font-size: 56px;
    color: var(--principal);
}
.content_blue_home{
    color: var(--principal);
}

.content_orange_home{
    color: var(--seconde);
}
/* **************************style chiffres clés fin ***************************** */


/* **************************style qui somme nous debut ***************************** */

.content_section2_home{
    background-color: var(--principal);
    padding-top: 30px ;
    padding-bottom: 70px;
}
.reference1_home{
    border: 3px solid var(--seconde);
    height: 200px;
    border-radius: 20px;
}
.reference2_home{
    border: 3px solid #1c91b1;
    height: 200px;
    border-radius: 20px;
}
.underline_content_home{
    color: var(--troisieme);
}
#btn_about_home_middle:hover{
    background-color: var(--principal) !important;
    border: 2px solid var(--seconde) !important;
    color: var(--troisieme);
   
}
.reference1_home, .reference2_home{
  animation: animesection 2s linear infinite;
}
 @keyframes animesection {
  0% {
    transform: scaleY(1);
}
50% {
    transform: scaleY(0); /* Mettez à zéro pour réduire la hauteur à zéro */
}
100% {
    transform: scaleY(1);
}
  }
/* **************************style qui sommes nous fin ***************************** */


/* **************************comment ça marche debut ***************************** */
#btn_about_homes2{
    background-color: var(--principal);
    border: none;
    padding: 10px 6rem;
}
#btn_about_homes2:hover{
    background-color: var(--troisieme);
    border: 2px solid var(--principal);
    color: var(--principal);
}
#discover:hover{
  color: var(--principal) !important;
}
/* **************************comment sa marche fin ***************************** */


/* **************************nos engagements debut ***************************** */
.conteneur_losange_home {
    display: grid;
   
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto !important;
    gap:20px;
   
    
}


.losange {
    width: 140px;
    height: 140px;
    background-color: var(--principal);
    border: 3px solid var(--seconde);
    transform: rotate(45deg);
    margin: 0 10px;
    display: flex;
    justify-content:center ;
    align-items: center;
    
   
}



  #icon_font_home_engament{
    animation: none !important;
  }
.losange:hover {
    transform: rotate(90deg) scale(1.5);
    transition: transform 0.3s ease-in-out;
    
    
}

#losange{
    background-color: var(--seconde);
    border: 3px solid var(--troisieme);
}
#icon_font_home_engament{
    transform: rotate(-45deg);
    font-size: 60px;
    
}
#icon_font_home_engament:hover{
    transform: rotate(-90deg);
    
    
}
.icon_onetwo_home{
    color: var(--troisieme);
}
.icon_onetwo_home1{
    color: var(--principal);
}

/* **************************nos engagements  fin ***************************** */


/* **************************quelques modéle debut ***************************** */
.card_modele_home{
    transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;

}
.card_modele_home:hover{
    border: 3px solid var(--seconde);
    transform: scale(1.05) !important;

}
/* **************************quelque modele  fin ***************************** */


/* ************************** explication quelque modele  debut timeline ***************************** */
.pt-100{
    padding-top:100px;
}
.pb-100{
    padding-bottom:100px;
}
.section-title {
  margin-bottom: 60px;
}
.section-title p {
	color: black !important;;
	font-size: 16px;
}
.section-title h4 {
	text-transform: capitalize;
	font-size: 40px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	background-color: var(--principal);
	bottom: 0;
	left: 50%;
	margin-left: -30px;
}
.section-title h4:after {
	position: absolute;
	background-color: var(--principal);
	content: "";
	width: 10px;
	height: 10px;
	bottom: -4px;
	left: 50%;
	margin-left: -5px;
	border-radius: 50%;
}
ul.timeline-list {
	position: relative;
	margin: 0;
	padding: 0
}
ul.timeline-list:before {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	background-color: black;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
ul.timeline-list li {
	position: relative;
	clear: both;
	display: table;
}
.timeline_content {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	/* border: 2px solid var(--principal); */
	background-color:#fff
}
.timeline_content:hover{
    cursor: pointer;
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    scale: 1.1;
}
#content1:hover{
    background-color: var(--principal);
    color: var(--troisieme);

}
#timeline_content:hover{
    background-color: var(--seconde);
    color: black;

}
.timeline-img{
    height: 100%;
    width: 100%;
}
#timeline_content{
    background-color: var(--principal);
    color: var(--troisieme);
    padding: 0;
}
#contentimg-timeline{
    border-radius: 10px;
   
}

.section-avis{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    background-color: rgba(250, 250, 250, 0.324);
    padding-top: 20px;
    padding-bottom: 5px;
    

}


#timeline_content span{
   
    color: var(--seconde);
}
ul.timeline-list li .timeline_content {
	width: 45%;
	color: black;
    border-radius: 10px;
	float: left;
    /* height: 350px; */
	
}
#content1, #timeline_content{
    height: 320px;
    padding: 20px;
}
ul.timeline-list li:nth-child(2n) .timeline_content {
	float: right;
	text-align: left;
}
.timeline_content h4 {
	font-size: 22px;
	font-weight: 600;
	margin: 10px 0;
}
ul.timeline-list li:before {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	background-color: var(--principal);
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
.timeline_content span {
	font-size: 18px;
	font-weight: 500;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
}

/* ************************** explication quelque modele  fin  timeline***************************** */


/* ************************** notre équipe debut  ***************************** */

.cardtemoinhome{
    width: 230px;
    height: 345px;
    
  }
  .cardtemoinhome:hover{
    transform: scale(1.1);
  }
  #temoignages{
    margin-top: 5rem !important;
  }
  #contentunderline{
    margin-top: 5rem!important;
  }
  .cardtemoinhome1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -75px;
  }
  .cardtemoinhome1img{
    width: 65% !important;
    height: 90% !important;
    border-radius: 50%;
    /* border: 10px solid var(--troisieme); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }
  .cardtemoinhome2{
    border: 1px solid #cccc;
    width: 100%;
    height: 65%;
    margin-top: 0;
    background-color: var(--principal);
    padding-bottom: 50px !important;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius:20px ;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }
  .cardtemoinhome2icon{
    width: 15px;
    height: 15px;
    margin-bottom: 0;
    /* margin-top: 75px; */
  }
  .title-temoinhome{
    margin-top: 90px;
  }
  .cardtemoinsociau{
    background-color: var(--seconde);
    margin-left: 5px;
    padding: 0 6px;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    color: var(--principal);
    display: flex;
    justify-content: center;
    place-content: center;
    align-items: center;
    margin-top: 25px;
    
  }
  .cardtitletemoin{
    text-align: center !important;
  }
  .paratextcontenthome{
    font-size: 12px;
    padding: 0 5px;
  }
  .contenttemoignagehome {
   
    /* display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 70%; 
    height: auto;
    margin: 0 auto;
    border: 1px solid red; */
    
   
  }
  .contenthome1{
   
    background-color:var(--troisieme);
    margin: 40px 0;
    padding-top: 0.2rem !important;
    padding-bottom: 5rem !important;
   
  }

  @keyframes slider {
    0%, 20%, 100%	{ left: 0 }
    25%, 45%		{ left: -100% }
    50%, 70%		{ left: -200% }
    75%, 95%		{ left: -300% }
  }
  
  .contenttemoignagehome{
      animation: scroll  40s linear infinite;
      display: flex;
      width: calc(250px * 14);
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      overflow-x: auto;
      
    
  }
  .section_content_team {
    overflow-x: auto;
}

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
  }

  
/* ************************** notre équipe  fin  ***************************** */



