.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .question-container {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .question-text {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .response-checkbox {
    margin-left: 20px;
  }
  
  .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:#004573 !important;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #044488 !important;
    border: none !important;
  }
  .body-background-main-content {
    background-color: #f2f2f2; 
    font-family: Arial, sans-serif; /* Police utilisée */
    margin: 0;
    padding-top: 100px;
    /* padding: 0; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: auto !important;
  }  