:root{
  --principal:#004573;
  --seconde:#FFB703;
  --troisieme:#FFF;
  --optionel:#ebf0f4;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none !important;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px; 
  right: 20px;   
  background-color: #25D366 !important;  
  border: none !important;
  color: var(--troisieme);          
  border-radius: 50% !important;
  cursor: pointer;
  height: 60px !important;
  width: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center !important;
  place-content: center !important;
  z-index: 9999; /* Ajouté pour s'assurer que le bouton reste au-dessus de tout */
}

/* button watsapp */
.whatsapp-button[data-tip]::after {
  background-color: #25D366;  /* Couleur de fond de l'infobulle */
}

.icon-whattsapp {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 43px !important;
}
