.password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-container .form-control {
    padding-right: 40px; /* Adjust based on icon size */
  }
  
  .password-toggle {
    position: absolute;
    right: 10px; /* Adjust based on icon size */
    cursor: pointer;
    bottom: 50%; /* To center the icon vertically */
    transform: translateY(50%);
  }
  .date-input {
    width: 100% !important; 
   
  }
  
  